.box{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    width: 100%;
    background:linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
        center;
}
.login{
    height:450px;
    max-width:250px;
    max-width: 500px;
    border: 2px solid rgb(3, 165, 206);
    border-radius: 5px;
    padding: 30px;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    background-color: azure;
   
  
}
.login h1{
    font-size:50px;

}
.login input{
    margin:5px;
    padding:15px;
    outline: none;
    font-size: 25px;
}
.login button{
    padding:20px;
    margin: 20px auto ;
    background-color:aqua;
    border: none;
    width:40%;
    font-size: 20px;


}
