.container{
    margin:5px 30px;
   /*  display:flex; */
    
}
.wrapper{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap:20px;
    justify-items: center
}